.wrapper {
  background-color: #333;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  user-select: none;
}

.heading {
  
  cursor: pointer;
  margin: 0;
  padding-top: 1rem;
}

.color-picker {
  position: absolute;
  right: 25rem;
}